configs = [
  {
    bucket_prefix    = "tf-tut-aws"
    domain           = "tiltao.site"
    app_name         = "tf-tut-aws"
    environment_name = "production"
    instance_type    = "t2.micro"
    create_dns_zone  = true
    db_name          = "db_name"
    db_user          = "db_user"
    db_pass          = "db_pass"
  }
]
